{{!< auth}}

<title>Admin - Hệ Thống Hỗ Trợ Quản Lý Tiến Độ Học Tập</title>
<style>
    body {
        background: url('/img/background/Modern Linktree.png') no-repeat center center fixed;
    }
</style>
<div class="auth-container">
    <div class="auth-header-admin">Hệ Thống Hỗ Trợ Quản Lý Tiến Độ Học Tập</div>
    <form method="POST" action="/admin/login-admin">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if message}}
        <div class="alert alert-success">{{message}}</div>
        {{/if}}
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fas fa-user icon"></i></span>
            <input type="text" class="form-control" name="username" value="admin" required>
        </div>
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fas fa-lock icon"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required>
        </div>
        <button type="submit" class="btn btn-auth-admin btn-sm px-3">Đăng Nhập</button>
    </form>
</div>
