{{!< auth}}
<title>Đăng Ký - Hệ Thống Hỗ Trợ Quản Lý Tiến Độ Học Tập</title>

<div class="auth-container">
    <div class="auth-header">Đăng Ký Tài Khoản</div>
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    <form method="POST" action="/register">
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fas fa-user icon"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" required>
        </div>
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fas fa-envelope icon"></i></span>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fas fa-phone icon"></i></span>
            <input type="text" class="form-control" name="phone" placeholder="Số điện thoại" required>
        </div>
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fas fa-lock icon"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required>
        </div>
        <button type="submit" class="btn btn-auth btn-sm px-3">Đăng Ký</button>
    </form>
    <div class="auth-links">
        <a href="/login-user">Đã có tài khoản? Đăng nhập</a>
    </div>
</div>

