{{!< admin}}
<title>Admin - Hệ Thống Hỗ Trợ Quản Lý Tiến Độ Học Tập</title>
<main class="container">
  <div class="row g-4">
    <a href="/admin/users" class="col-md-3 col-sm-6 text-decoration-none text-dark">
        <div class="card p-4 text-center shadow-sm hover-shadow">
            <div class="icon-box text-primary fs-1">
                <i class="fas fa-user" style="color: #531aff;"></i></div>
                <h6 class="mt-3">Người Dùng</h6>
        </div>
    </a>

    <a href="/admin/courses" class="col-md-3 col-sm-6 text-decoration-none text-dark">
        <div class="card p-4 text-center shadow-sm hover-shadow">
            <div class="icon-box text-primary fs-1">
                <i class="fas fa-book"></i></div>
                <h6 class="mt-3">Học Phần</h6>
        </div>
    </a>
  </div>
</main>

