{{!< auth}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 rounded">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/admin/dashboard">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Người Dùng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/courses">Học Phần</a>
        </li>
      </ul>
      <span class="navbar-text me-3 text-white">
        {{user.role}}
      </span>
      <a href="/logout" class="btn btn-outline-light btn-sm btnlogout"><i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>
</nav>


<div class="row g-4">
    <a href="/admin/users" class="col-md-3 col-sm-6 text-decoration-none text-dark">
        <div class="card p-4 text-center shadow-sm hover-shadow">
            <div class="icon-box text-primary fs-1">
                <i class="fas fa-user" style="color: #531aff;"></i></div>
                <h6 class="mt-3">Người Dùng</h6>
        </div>
    </a>

    <a href="/admin/courses" class="col-md-3 col-sm-6 text-decoration-none text-dark">
        <div class="card p-4 text-center shadow-sm hover-shadow">
            <div class="icon-box text-primary fs-1">
                <i class="fas fa-book"></i></div>
                <h6 class="mt-3">Học Phần</h6>
        </div>
    </a>
</div>

<style>
  .hover-shadow:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 15px 20px;
    border-radius: 12px;
    color: white;
    margin-bottom: 24px;
  }

  .btnlogout{
        color: red;
        border: none;
        width: auto; 
        padding: 8px 20px;
        text-align: center;
    }
    .btnlogout:hover{
        color: rgb(255, 255, 255);
        background:  #eb2323;
        display: flex;
        justify-content: center;

    }
</style>
