<h2 class="dashboard-title mb-4">📊 Home</h2>
    <div class="row">
        <a href="/course" class="col-md-4 text-decoration-none text-dark">
        <div class="card p-4 text-center">
            <div class="icon-box text-primary"><i class="fas fa-book"></i></div>
                <h5>Khóa Học Đang Học</h5>
                    <p class="fw-bold">3 khóa học</p>
        </div>
                    </a>
                    <a href="/progress" class="col-md-4 text-decoration-none text-dark">
                        <div class="card p-4 text-center">
                            <div class="icon-box text-success"><i class="fas fa-chart-line"></i></div>
                            <h5>Tiến Độ Học Tập</h5>
                            <p class="fw-bold">80% Hoàn Thành</p>
                        </div>
                    </a>
                    <a href="/notice" class="col-md-4 text-decoration-none text-dark">
                        <div class="card p-4 text-center">
                            <div class="icon-box text-danger"><i class="fas fa-calendar-alt"></i></div>
                            <h5>Sự Kiện Sắp Tới</h5>
                            <p class="fw-bold">2 bài kiểm tra tuần này</p>
                        </div>
                    </a>
                </div>
            </main>

